#choice-container {
    display: flex;
    justify-content: center;
}

img {
    width: 500px;
    height: 500px;
    border: 5px solid grey;
    border-radius: 100px;
    margin: 50px;
}

#rock-container,
#paper-container,
#scissors-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#choice-container p {
    text-align: center;
    display: none;
    font-weight: inherit;
}