#choice-container {
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    visibility: hidden;
}

img {
    width: 500px;
    height: 500px;
    border: 5px solid grey;
    border-radius: 100px;
    margin: 50px;
}

#rock-container,
#paper-container,
#scissors-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#choice-container p {
    text-align: center;
    font-weight: inherit;
    visibility: hidden;
}

img:hover {
    border-color: yellow;
}

#running-score {
    text-align: center;
}

#button-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#reset-button {
    display: none;
}
#game-winner,
#round-results {
    text-align: center;
}